.about_author_header {
    text-align: center;
    color: rgb(228, 228, 228);
    font-family: "Comfortaa", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    margin-bottom: 50px;
}
.about_author_text{
    color: rgb(228, 228, 228);
    font-size: 18px;
    width: 380px;
    font-family: "Comfortaa", serif;
}

